---
import { Icon } from "astro-icon/components";
import * as colores from "../../public/colors.json";

type Colores = { [key: string]: string };

const typedColores = colores as Colores;

let proyects = [
  {
    name: ["Dashboard"],
    desc: "dashboarddesc",
    source: "https://github.com/bbauti/dashboard",
    img: "dashboard",
    link: "dashboard",
    status: "",
    lenguagesColor: ["HTML", "CSS", "SCSS", "JavaScript", "Svelte", "Vite"],
    lenguages: ["HTML", "CSS", "SCSS", "JS", "Svelte", "Vite"],
  },
  {
    name: ["Inventory App", "1rem"],
    desc: "inventorydesc",
    source: "https://bitbucket.org/arrudeboy/inventory/src",
    img: "inventoryapp",
    link: "",
    status: "wip",
    lenguagesColor: [
      "Python",
      "Python",
      "Jinja2",
      "JavaScript",
      "HTML",
      "CSS",
      "SQL",
    ],
    lenguages: ["PY", "Flask", "Jinja2", "JS", "HTML", "CSS", "SQL"],
  },
  {
    name: ["Todo App"],
    desc: "tododesc",
    source: "https://github.com/bbauti/p5todoapp",
    img: "todoapp",
    link: "https://bbauti.github.io/p5todoapp",
    status: "done",
    lenguagesColor: ["HTML", "CSS", "JavaScript"],
    lenguages: ["HTML", "CSS", "JS"],
  },
  {
    name: ["Weather Channel"],
    desc: "weatherdesc",
    source: "https://github.com/bbauti/p5weatherChannel",
    img: "weatherchannel",
    link: "https://bbauti.github.io/p5weatherChannel",
    status: "done",
    lenguagesColor: ["HTML", "CSS", "JavaScript"],
    lenguages: ["HTML", "CSS", "JS"],
  },
  {
    name: ["Color Game"],
    desc: "colordesc",
    source: "https://github.com/bbauti/p5colorgame",
    img: "colorgame",
    link: "https://bbauti.github.io/p5colorgame",
    status: "done",
    lenguagesColor: ["HTML", "CSS", "JavaScript"],
    lenguages: ["HTML", "CSS", "JS"],
  },
];

const checkColor = (leng: keyof Colores): string => {
  const color = typedColores[leng];
  return color ? color : "#fff";
};
---

<section>
  <h2 class="w-fit mx-auto mb-4 font-semibold text-lg md:text-xl relative">
    Proyectos destacados
  </h2>
  <div id="cards">
    {
      proyects.map((proyect) => (
        <article class="flex gap-4">
          <div class="p-[1rem]">
            <header class="text-xl font-[600] flex items-center gap-2">
              <p class="ptitle">{proyect.name[0]}</p>
              <div class="flex items-center gap-2">
                <div class="icon-card">
                  <a
                    href={proyect.source}
                    class="git"
                    aria-label="git"
                    target="_blank"
                  >
                    <Icon name="mdi:git" />
                  </a>
                </div>
                {proyect.status === "done" ? (
                  <div class="icon-card">
                    <a href={proyect.link} aria-label="link" class="done">
                      <Icon name="mdi:external-link" />
                    </a>
                  </div>
                ) : proyect.status === "wip" ? (
                  <div class="icon-card disabled">
                    <Icon name="mdi:construction" />
                  </div>
                ) : null}
              </div>
            </header>
            <div class="select-none">
              <p>{proyect.desc}</p>
            </div>
            <div class="flex select-none">
              {proyect.lenguages.map((leng, index) => (
                <div class="lenguage">
                  <span
                    class="lengColor"
                    style={{
                      color: checkColor(proyect.lenguagesColor[index]),
                    }}
                  >
                    ●
                  </span>
                  <span class="leng">{leng}</span>
                </div>
              ))}
            </div>
          </div>
          <figure>
            <img
              src={`/proyects/${proyect.img}.png`}
              alt={proyect.name[0]}
              class="h-full z-50 relative rounded-[25px] border border-gray-300 p-[0.1rem]"
            />
          </figure>
        </article>
      ))
    }
  </div>
</section>

<style>
  .cards {
    width: 100%;
  }

  article {
    max-width: 1000px;
    position: relative;
    border: 1px solid #e2e8f0;
    background-color: #f5f5f5;
    padding: 0.8rem;
    box-shadow:
      rgba(0, 0, 0, 0.05) 0px -3px 0px 0px inset,
      rgb(255, 255, 255) 0px 0px 0px 2px inset,
      rgba(0, 0, 0, 0.06) 0px 4px 2px 0px inset,
      rgba(0, 0, 0, 0.04) 0px 0px 24px 4px inset,
      rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    margin: 0.5rem auto;

    figure {
      height: 100%;
    }
  }
</style>
